.wrapper {
    display: flex;
    width: 94%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 90%;
    }

    @media screen and (min-width: 1024px) {
        width: 86%;
        max-width: 1200px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @media screen and (min-width: 1024px) {
        gap: 90px;
    }
}