
body {
    width: 1440px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 17px 0;
}
.wrapper {  
width: 1200px;
margin: 0 auto;
}

.header__logo {
    margin-right: 198px;
    padding: 8px 0;
    
}
.header__navigation {
    display: inline-block;
    line-height: 28px;
    font-size: 16px;
    color: #2F281E; 
}
.header__navigation-item { 
    display: inline; 
    margin-right: 20px;   
}   
.header__navigation-item:last-child {
    margin: 0;
}
.header__navigation-item a { 
    font-size: 16px;
    color: #2F281E; 
    text-decoration : none;
}
.header__navigation-item a:hover {
    color: #FF9900; 
}
.actions {
     display: inline;
     float:right;
}
.button {
width: 110px;
height: 46px;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 4px;
background-color: #FF9900;
color: #FFFFFF;
}
.button--bordered {
    color: #2F281E;
    background-color:transparent;
    border: 1px solid #BCD0E5;
   margin-right: 20px;  
}
.first_section__content {
    width: 500px;
    margin-top: 100px;
    float: left;
}
.first_section__content-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
}
.first_section__content-text{
    margin-top: 30px;
}
.first_section__content button{
width: 180px;
margin-top: 20px;
}
.first_section__image {
    margin-top: 70px;
    display: inline;
    float: right;
}
