.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 86%;
    max-width: 1200px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}
@media screen and (min-width: 1024px) {
  .main {
    gap: 90px;
  }
}